.mr-l-5 {
  margin-left: 5px;
}


.switch-slide {
  display: inline-block;
  margin-right: 5px;
}

.switch-slide-label {
  display: block;
  width: 34px;
  height: 18px;
  background: #ccc;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.switch-slide-label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 1px;
  top: 1px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.switch-slide input:checked + label {
  background: #3e8ed0;
  transition: 0.3s ease;
}
.switch-slide input:checked + label::after {
  left: 17px;
}
